* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f7f7f7;
    font-family: 'PT Sans', sans-serif;
}

.div-one {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0%;
    right: 0%;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: 1s;
    z-index: 3;
}

.wrap {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 600px);
    align-items: center;
}

.logo-block {
    background-color: orange;
    width: 280px;
    height: 80px;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
}

.logo {
    width: 90px;
    height: 30px;
    margin-left: 20px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAxMjAgMzEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0zMS4yOTUgMTUuMDg0YTcuNTI5IDcuNTI5IDAgMDAtMi4yMi01LjM1OCA3LjUyOSA3LjUyOSAwIDAwLTUuMzU4LTIuMjJINy41MDd2MTUuMTU2aDE2LjIxYTcuNTMgNy41MyAwIDAwNS4zNTktMi4yMiA3LjUyNyA3LjUyNyAwIDAwMi4yMTktNS4zNTd6bTcuNTA3IDBjMCA4LjMzLTYuNzU0IDE1LjA4NC0xNS4wODUgMTUuMDg0SDBWMGgyMy43MTdjOC4zMzEgMCAxNS4wODUgNi43NTMgMTUuMDg1IDE1LjA4NHptNzguNDQ0LS45ODVhOS4zNzggOS4zNzggMCAwMC02LjY0OS0yLjc1NHYuMDEySDkwLjYzOWExLjkzNiAxLjkzNiAwIDAxLTEuOTM0LTEuOTM0YzAtMS4wNjYuODY3LTEuOTM0IDEuOTM0LTEuOTM0aDIzLjY1NWEzLjczNiAzLjczNiAwIDEwMC03LjQ3Mkg5MC42MzljLTEuMjY4IDAtMi41LjI1LTMuNjYzLjc0MWE5LjM2OCA5LjM2OCAwIDAwLTIuOTg4IDIuMDE0IDkuMzc1IDkuMzc1IDAgMDAtMi4wMTQgMi45ODkgOS4zNTEgOS4zNTEgMCAwMC0uNzQxIDMuNjYyYzAgMS4yNjguMjUgMi41Ljc0MSAzLjY2MmE5LjM2NiA5LjM2NiAwIDAwMi4wMTQgMi45ODkgOS4zNzQgOS4zNzQgMCAwMDYuNjUxIDIuNzU1aDE5Ljk1OHYtLjAxMmMxLjA2NSAwIDEuOTMxLjg2NiAxLjkzMSAxLjkzYTEuOTMzIDEuOTMzIDAgMDEtMS45MzEgMS45MzJIODQuOTY5YTMuNzM2IDMuNzM2IDAgMTAwIDcuNDcyaDI1LjYyOGE5LjM3NiA5LjM3NiAwIDAwNi42NDktMi43NTQgOS4zNyA5LjM3IDAgMDAyLjAxMy0yLjk4OCA5LjMzNiA5LjMzNiAwIDAwLjc0MS0zLjY2MSA5LjM3NSA5LjM3NSAwIDAwLTIuNzU0LTYuNjQ5ek03MS44NzYgMGg3LjQ3MnYyNi40MTVhMy43MzYgMy43MzYgMCAwMS02LjM3OCAyLjY0MWwtMjQuOTE3LTE4LjAxdjE5LjEyMkg0MC41OFYzLjc1M2EzLjczNiAzLjczNiAwIDAxNi4zNzgtMi42NDFsMjQuOTE3IDE4LjAxVjB6IiBmaWxsPSIjZmZmIi8+PC9zdmc+) no-repeat center left;
}

.menu {
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    padding-right: 40px;
    margin-right: 20px;
    background: linear-gradient(0deg, #fc8507 0%, #ffa218 100%);
}

.search {
    background-color: #f7f7f7;
    width: 400px;
    height: 63px;
    color: #333;
    border: none;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    transition: 0.2s;
}

.search:focus-visible {
    outline: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 4px 4px rgba(0, 0, 0, .04), 0 20px 40px rgba(0, 0, 0, .08);
    transition: 0.2s;
    background-color: white;
}

.icon {
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.div-two {
    background-color: bisque;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 150px;
    margin-bottom: 400px;
    padding: 2em;
    font-size: 20px;
    line-height: 1.4;
    height: auto;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    z-index: 1;
}

.icon {
    color: #938e8e;
}

.cart,
.favorite,
.chart {
    width: 32px;
    fill: #938e8e;
    cursor: pointer;
    transition: 0.3s;
}

.cart:hover {
    fill: black;
    transition: 0.3s;
}

.favorite,
.chart {
    fill: none;
    stroke: #938e8e;
}

.favorite:hover,
.chart:hover {
    stroke: black;
    transition: 0.3s;
}

.account {
    width: 50px;
    stroke: #938e8e;
}

.notises-wrap {
    /* margin-top: 100px; */
    /* margin-left: 900px; */
    width: 703px;
    background: #f7f7f7;
    /* padding: 30px; */
    border-radius: 12px;
    box-shadow: 1px 4px 7px 1px #cfcfcf;
    display: none;
    justify-content: space-between;
    /* align-items: stretch; */
    position: fixed;
    top: 83px;
    right: 297px;
}

.notices {
    width: 300px;
    /* height: 150px; */
    background-color: white;
    margin-top: 20px;
    /* margin-left: 200px; */
    border-radius: 12px;
    padding: 21px 24px;
}

.not-title {
    width: 75%;
    color: #747474;
    font-size: 14px;
    margin-bottom: 10px;
}

.top-row {
    display: flex;
    justify-content: space-between;
}

.bottom-row {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.not-img {
    width: 65px;
}

.item-title {
    font-size: 15px;
    color: #1166a5;
    letter-spacing: 0.2px;
    line-height: 1.4;
    margin-bottom: 9px;
}

.price {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    font-size: 17px;
}

.price-old {
    font-weight: 700;
    /* font-size: 18px; */
}

.price-new {
    color: #938e8e;
    text-decoration: line-through;
}

.abcd {
    color: #938e8e;
    font-size: 12px;
    letter-spacing: 0.2px;
}

.close {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE4Ljk4NCA2LjQyMiAxMy40MDYgMTJsNS41NzggNS41NzgtMS40MDYgMS40MDZMMTIgMTMuNDA2bC01LjU3OCA1LjU3OC0xLjQwNi0xLjQwNkwxMC41OTQgMTIgNS4wMTYgNi40MjJsMS40MDYtMS40MDZMMTIgMTAuNTk0bDUuNTc4LTUuNTc4IDEuNDA2IDEuNDA2eiIgZmlsbD0iI0NDQyIvPjwvc3ZnPg==);
    background-size: contain;
    display: block;
    height: 14px;
    width: 14px;
}

.date {
    margin: 0;
    color: #747474;
    font-size: 14px;
    margin-top: 36px;
}

.menu-right {
    /* height: 20%; */
    width: 44%;
    background-color: white;
    /* margin: 10px; */
    /* padding-left: 33px; */
}

.qwqw {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 600px;
    overflow-y: scroll;
}

.qwqw::-webkit-scrollbar {
    width: 0px;
}

.item {
    color: #333;
    cursor: pointer;
    margin-left: 33px;
    /* opacity: 0.5; */
}

.item:hover {
    color: #fc5808;
}

.account-name {
    cursor: pointer;
    padding: 25px 0;
    /* background-color: red; */
    margin: 0;
    padding-left: 33px;
}

.account-name:hover {
    color: #fc5808;
}

.orders {
    background: #fff7da url(https://cmp.dns-shop.ru/images/40bf2396899cdaa2d0f1.webp) no-repeat bottom right;
    width: 283px;
    height: 275px;
    padding: 24px 14px 24px 20px;
    border-radius: 15px;
    margin-left: 250px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.bonus {
    font-size: 14px;
    color: #33333398;
}

.my-orders {
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 9px 16px;
    cursor: pointer;
}

.galka:hover {
    color: black;
}

.galka {
    margin-left: 1217px;
    margin-top: -34px;
    margin-bottom: 0;
    position: absolute;
    right: 3px;
    top: 30px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
}

.loading-wrap {
	background-color: bisque;
	width: 500px;
	display: flex;
	align-items: center;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	/* margin-top: 100px; */
	border-radius: 43px;
	position: fixed;
	left: 50%;
	/* bottom: 218px; */
	transition: 0.5s;
	/* transform: translateX(-50%); */
	z-index: 4;
	top: 50%;
	transform: translate(-50%,-50%);
}

.loading-inner {
    background-color: #1583eb59;
    width: 15%;
    height: 55px;
    border-radius: 24px;
}
.test {
    display: inline;
    position: relative;
    height: 50px;
}

.main {
    opacity: 0;
    transition: 1s;
}

.clock {
    width: 250px;
    height: 100px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.number {}

.title {
	margin-top: 0;
	align-self: flex-start;
}

.счетчик {
	display: flex;
	justify-content: flex-end;
	gap: 18px;
	background-color: white;
	padding: 0.4em 1.2em;
	margin-top: 22px;
	box-shadow: inset 1px 1px 6px #00000047;
	border-radius: 5px;
    align-items: center;
}
.heart {
	display: flex;
    cursor: pointer;
}

.likes {
	font-size: 23px;
}

.цвет {
  fill: #938e8e;
  transition: 0.2s;
}

.heart:hover .цвет{
    fill: #ffb01f;
}

.calculate {
    /*! width: 300px; */
    /*! height: 500px; */
    background-color: white;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 0px 25px #2b2b2b1f;
    /*! border: 3px solid #b0b0b0; */
}

.calculate-wrap {
	width: 100%;
	height: calc(100% - 100px);
	display: flex;
	justify-content: center;
	position: fixed;
	z-index: 2;
	/*background-color: #ff00004f;*/
	left: 0;
	top: 100px;
	align-items: center;
    visibility: hidden;
}


.button {
    /*! background-color: white; */
    /*! border: 2px solid white; */
    width: fit-content;
    width: 25px;
    height: 51px;
    color: #535353;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #fff7da;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
    transition: 0.3s;
  }
  .row {
    display: flex;
    gap: 3px;
  }
  .цифрызнаки {
    display: flex;
    flex-direction: column;
    gap: 3px;
    border: 5px solid #fff;
    border-top-width: 0;
  }

  .итог {
    background-color: white;
    display: flex;
    padding: 21px;
    font-size: 37px;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
  }
  .reset {
    font-size: 36px;
    font-weight: 700;
    user-select: none;
    margin-right: 5px;
  }

  .button:hover {
	background-color: #fff7da94;
}



.test22222{
    background-color: red;
}

.экран {
	display: flex;
	align-items: center;
}